[submodule "docker-rabbitmq-cluster"]
	path = docker-rabbitmq-cluster
	url = https://github.com/ameizi/docker-rabbitmq-cluster.git
[submodule "docker-rocketmq"]
	path = docker-rocketmq
	url = https://github.com/foxiswho/docker-rocketmq.git
[submodule "fastdfs-nginx"]
	path = fastdfs-nginx
	url = https://github.com/ameizi/fastdfs-nginx.git
[submodule "skywalking-docker"]
	path = skywalking-docker
	url = https://github.com/apache/skywalking-docker.git
